---
import './hero.css';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Sandro Malca Neyra</h1>
			<p class="hero__text">
				Como aspirante a analista de datos, tengo un fuerte deseo de transformar datos complejos en información accionable. Mis competencias incluyen el manejo de herramientas como Power BI, SQL y Excel, y un enfoque meticuloso para resolver problemas. Estoy emocionado por la oportunidad de contribuir con mi pasión y habilidades en un entorno profesional, y dispuesto a aprender y crecer junto a un equipo dinámico.
			</p>
		</div>
    <img
		class="hero__img"
		src="https://i.pinimg.com/originals/fc/71/63/fc71635c7f1b09ed30413f59bb749582.gif"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
