---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Power BI Nivel Intermedio - Avanzado
		</p>
		<p>Excel Nivel Avanzado</p>
		<p>SQL Nivel Básico</p>
	</div>
</section>
