---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/public/img/sandro_malca.jpg"
			alt="Foto de perfil de Sandro Malca"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Ingeniero de Sistemas Titulado con más de 2 años de experiencia en los sectores de banca, salud y consultoria . Ocupe los roles de Data Analytics Junior. Apasionado por las tecnologías de Analisis de Datos y Desarrollo Web. Me he dedicado a numerosas horas a perfeccionar mis habilidades en análisis de datos, visualización y estadística a través de proyectos personales y cursos en línea. Mis competencias incluyen el manejo de herramientas como Power BI, SQL y Excel, estoy emocionado por la oportunidad de contribuir con mi pasión y habilidades en un entorno profesional,dispuesto a aprender y crecer junto a un equipo dinámico.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
