---
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="sandroMalca">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<img
				src="https://1000logos.net/wp-content/uploads/2022/08/Microsoft-Power-BI-Logo.png"
				width="150"
				height=auto
			/>
			<img
				src="https://download.logo.wine/logo/Microsoft_Excel/Microsoft_Excel-Logo.wine.png"
				width="150"
				height=auto
			/>
			<img
				src="https://icons.veryicon.com/png/o/application/designer-icon/sql-5.png"
				width="100"
				height=auto
			/>
		</div>
	</div>
</Terminal>
