---
const { contenido, margin } = Astro.props;
---

<h2 class="color__gradiente" style=`margin-bottom:${margin}` >{contenido}</h2>

<style>
	h2 {
		font-size: 5rem;
		font-weight: 500;
	}
	@media (max-width: 768px) {
    h2 {
		text-align: center;
		margin-bottom: 20px;
    }
  }
</style>
